@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --component-bg-color: #ffffff;
  --component-text-color: #333333;
  --font-family: 'Arial, sans-serif'; /* 기본 폰트 설정 */

}

html.font-sans {
  --font-family: Arial, sans-serif;
}

html.font-serif {
  --font-family: Georgia, serif;
}

html.font-mono {
  --font-family: 'Courier New', monospace;
}

.dark {
  --background-color: #1F1F1F; /* Dark 모드 배경 */
  --text-color: #ffffff; /* Dark 모드 텍스트 */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  transition: font-family 0.3s ease-in-out;
}

