@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --component-bg-color: #ffffff;
  --component-text-color: #333333;
}
.dark {
  --background-color: #1F2937; /* Dark 모드 배경 */
  --text-color: #ffffff; /* Dark 모드 텍스트 */
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
